<!doctype html>
<html data-ng-app="movieApp" lang="en">
<head>
  <title>Movies</title>
  <meta charset="UTF-8">
</head>
<body>
  <main data-ng-controller="MoviePanel">
    <form data-ng-submit="search()" autofocus="autofocus">
      <h1>Search {{searchInput}}</h1>
      <input type="text" name="somefield" data-ng-model="searchInput">
      <button>Search</button>
    </form>
    <h1>Results</h1>
    <section class="result">
      <ul>
        <li data-ng-repeat="movie in results">{{movie.Title}}, {{movie.Year}}</li>
      </ul>
    </section>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>